@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Ubuntu&display=swap');

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.App-header {
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgb(14 30 37 / 12%), 0 1px 8px 0 rgb(14 30 37 / 8%);
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
  padding: 0.2rem 3rem;

  /* position: fixed; */
  width: 100%;
  z-index: 2;
  top: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 45px;
}

.logo-title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  padding: 0 1rem;
}

.nav-links li:last-child {
  border-left: 2px solid;
  padding-right: 0;
}

.nav-link {
  color: #2088ff;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.nav-link.active {
  font-weight: 500;
  text-decoration: underline;
  text-underline-position: under;
}
